<html>
    <head>
        <title>gestion du panier</title>
    </head>
    <body>
        <h1>gestion du panier</h1>
		<h2>bonjour <%= client.prenom %>  <%= client.nom %></h2> 
		votre email : <%= client.email%>
		
		<h2>votre panier</h2>
		<table>
			<thead>
				<tr>
				  <th>code</th>
				  <th>qte</th>
				  <th>prix</th>
				</tr>
			</thead>
			<tbody>
				<%
					for(var i = 0 ; i < nbre ; i++) {
				%>
					<tr>
					  <td><%= liste[i].codeArticle %></td>
					  <td><%= liste[i].qteArticle %></td>
					  <td><%= liste[i].prixArticle %></td>
					</tr>
				<% } %>
			</tbody>
		</table>

		<form id="form1" action="/ajouter" method="post">
			<h2>Ajouter un utilisateur</h2>
			<p><label> Nom: </label>
			<input type="text" id="nom" name="nom"></input></p>
			<p><label> prenom: </label>
			<input type="text" id="prenom" name="prenom"></input></p>
			<input type="submit" value="Ajouter"></input>
		</form>
		<form id="form2" action="/supprimer" method="post">
			<h2>Supprimer un utilisateur</h2>
			<p><label> Nom: </label>
			<input type="text" id="nomSup" name="nomSup"></input></p>
			<p><label> prenom: </label>
			<input type="text" id="prenomSup" name="prenomSup"></input></p>
			<input type="submit" value="Supprimer"></input>
		</form>
	</body>
</html>
